*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}
.options-ctn{
    height: 3rem;
    width: 3rem;
    background-color: white;
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.5rem;
}
.tools-ctn{
    display: flex;
    height: 4rem;
    width: 40rem;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 1rem;
    left: 25rem;
    padding: 10px;
    font-size: 1.5rem;
    background-color: azure;
    border: 1px solid black;
}
.pencil-tool{
    height: 2rem;
    width: 6rem;
    position: absolute;
    top: 5rem;
    left: 25rem;
    background-color: azure;
    display: none;
}
.pencil-width-ctn{
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pencil-width-ctn input{
    width: 80%;
}
.pencil-color-ctn{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    height: calc(100% - 0.1rem);
    background-color: azure;
}
.pencil-color{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid black;
}
.white{
   background-color: white; 
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.eraser-tool{
    height: 2rem;
    width: 6rem;
    position: absolute;
    top: 5rem;
    left: 31.5rem;
    background-color: azure;
    display: none;
}
.eraser-width-ctn input{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scale-tools{
    animation-name: scale-tools;
    animation-duration: 1s;
}
@keyframes scale-tools{
    0%{
        transform: scale(0);
    }100%{
        transform: scale(100%);
    }
}
.sticky-ctn{
    height: 15rem;
    width: 15rem;
    background-color: lightblue;
    position: absolute;
    top: 15rem;
    left: 10rem;
}
.header-ctn{
    background-color: orange;
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
.header-ctn > *{
    height: 1.3rem;
    width: 1.3rem;
    margin-right: 0.5rem;
    border-radius: 50%;
}
.minimize{
    background-color: greenyellow;
}
.remove{
    background-color: red;
}
.note-ctn{
    background-color: red;
    height: calc(100% - 2rem);
}
textarea{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    resize: none;
}
img{
    height: 100%;
    width: 100%;
}